<mat-form-field class="example-full-width">
  <textarea matInput placeholder="select a studio" [(ngModel)] = "Studio" ></textarea>
</mat-form-field>
<button mat-raised-button color="accent" (click) = "filterMovie()">filter movie</button>
<br>
  <mat-form-field>
       <mat-select placeholder="filter studio" [(value)]="Studio2">
         <mat-option *ngFor="let s of studios" [value]="s">
           {{s}}
         </mat-option>
       </mat-select>
     </mat-form-field>
     <button mat-raised-button color="accent" (click) = "filter()">filter dropdown</button>
<table mat-table [dataSource]="movies" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="studio">
      <th mat-header-cell *matHeaderCellDef>studio</th>
      <td mat-cell *matCellDef="let element"> {{element.studio}} </td>
    </ng-container>
    <ng-container matColumnDef="weekend_income">
      <th mat-header-cell *matHeaderCellDef>weekend_income</th>
      <td mat-cell *matCellDef="let element"> {{element.weekend_income}} </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>delete</th>
        <td mat-cell *matCellDef="let element"> <button (click)="toDelete(element)">Delete Item </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div style = "text-align: center; padding-top: 40px">The movie you deleted is: {{ name }}</div>